# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
/.gradle-codex/

# other
eclipse
run
runs
run-data

repo

logs

docs/tmp
docs/model/
tools/

*.md
src/main/resources/tmp

.config/

!README.md
!docs/README_CN.md
